@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

$light-color: #F6F4F3;
$lighter-color: #8DD6CA;
$main-color: #4AAAA0;
$accent-color: #A74B66;
$dark-color: #192C2D;

@mixin main-text {
  font: {
    family: Nunito;
    size: 15px;
  }
  color: $dark-color
}

@mixin small-text {
  font: {
    family: Nunito;
    weight: bold;
    size: 12px;
  }
  color: $dark-color
}

@mixin cursive-menu {
  font: {
    family: 'Amatic SC', cursive;
    size: 33px;
  }
  color: $main-color
}

.app-wrapper {
  margin: 0 auto;
  width: 1000px;
}

// HEADER
.header {
  display: flex;
}

.topHeader {
  @include small-text;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.centerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomHeader {
  padding-top: 30px;
  border-bottom: 1px solid $main-color;
}
// LOGIN BLOCK
.loginBlock {
  display: flex;
  &:hover {
    color: $accent-color;
    cursor: pointer;
  }
}

.iconLogin:before {
  font-family: 'icomoon';
  content: "\e935";
  font-size: 12px;
  padding-right: 3px;
}

.textLogin {

}

.loginModalInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 10px;
  }
}

.logoHeader {
  height: 300px;
  width: 300px;
}

.leftMainMenu,
.rightMainMenu {
  @include cursive-menu;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  li {
    padding: 10px 0;
  }
  a {
    color: $main-color;
    text-decoration: none;
    &:hover {
      color: $dark-color;
      border-bottom: 1px dashed $dark-color;
    }
  }
}

// MAIN

.mainContainer {
  display: flex;
  flex-wrap: wrap;
}

.sliderMain {
  width: 100%;
}
.sliderImgWrapper {
  width: 1000px;
  height: 400px;
}

.sliderImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.posterMain {
  width: 65%;

}
.instagramMain {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}