@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

$light-color: #F6F4F3;
$lighter-color: #8DD6CA;
$main-color: #4AAAA0;
$accent-color: #A74B66;
$dark-color: #192C2D;

@mixin main-text {
  font: {
    family: Nunito;
    size: 15px;
  }
  color: $dark-color
}

@mixin small-text {
  font: {
    family: Nunito;
    weight: bold;
    size: 12px;
  }
  color: $dark-color
}

@mixin cursive-menu {
  font: {
    family: 'Amatic SC', cursive;
    size: 33px;
  }
  color: $main-color
}

.app-wrapper {
  margin: 0 auto;
  width: 1000px;
}

// HEADER
.header {
  display: flex;
}

.topHeader {
  @include small-text;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.centerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomHeader {
  padding-top: 30px;
  border-bottom: 1px solid $main-color;
}
// LOGIN BLOCK
.loginBlock {
  display: flex;
  &:hover {
    color: $accent-color;
    cursor: pointer;
  }
}

.iconLogin:before {
  font-family: 'icomoon';
  content: "\e935";
  font-size: 12px;
  padding-right: 3px;
}

.textLogin {

}

.logoHeader {
  height: 300px;
  width: 300px;
}

.leftMainMenu,
.rightMainMenu {
  @include cursive-menu;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  li {
    padding: 10px 0;
  }
  a {
    color: $main-color;
    text-decoration: none;
    &:hover {
      color: $dark-color;
      border-bottom: 1px dashed $dark-color;
    }
  }
}